.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.caption {
  color: var(--color-radio-option);
  font-size: 18px;
  text-align: center;
  width: 600px;
}

.buttons {
  display: flex;
  gap: 20px;
}
