h2 {
  text-align: center;
}

.card-options {
  list-style-type: none;
}

.card-options li {
  display: flex;
  align-items: center;
  gap: 20px;
}

.card-radio {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.button-section {
  display: flex;
  justify-content: center;
}

input[type='radio'] {
  accent-color: #5f5a5a;
}
