@import url('https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --color-white: #ffffff;
  --color-button-active: #7035eb;
  --color-button-disabled: #f2f2f2;
  --color-radio-option: #5f5a5a;
}

body {
  font-family: 'Istok Web', sans-serif;
}
